.before-after {
  &__images {
    width: 650px;
    position: relative;

    p {
      font-size: 20px;
      line-height: 20px;
      font-family: "Oswald", "Arial", sans-serif;
      text-transform: uppercase;
    }
  }

  &__before {
    position: absolute;

    img {
      position: absolute;
      width: 690px;
      max-width: none;
      height: auto;
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__after {
    img {
      position: absolute;
      width: 690px;
      max-width: none;
      height: auto;
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
