.before-after {
  position: relative;
  padding-bottom: 100px;

  &__before {
    position: absolute;
    width: 365px;
    overflow: hidden;

    img {
      max-width: none;
      width: 690px;
    }
  }

  &__after {
    overflow: hidden;
    width: 325px;
    float: right;

    img {
      float: right;
      max-width: none;
      width: 690px;
    }
  }

  &__label {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;

    &--before {
      left: 80px;
      bottom: 50px;
    }

    &--after {
      right: 40px;
      bottom: 50px;
    }
  }

  &__control {
    position: absolute;
    bottom: 63px;
    left: 152px;
  }

  &__bar {
    width: 426px;
    height: 6px;
    border-radius: 2px;
    background-color: #dcdcdc;
  }

  &__toggle {
    cursor: pointer;
    position: relative;
    margin-left: 197px;
    margin-top: -20px;
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 0 0 2pt $main-color;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: $main-color;
      border-radius: 50%;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
