.catalog {
  margin: 0 auto 10px;
  max-width: 1300px;

  &__header {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-top: 55px;
    margin-left: 40px;
    margin-bottom: 85px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__item {
    width: 245px;
    margin: 0 40px 60px 40px;
  }
}


@media (max-width: $tablet-width) {
  .catalog {
    &__header {
      margin-top: 35px;
      margin-left: 30px;
    }

    &__list {
      padding-left: 30px;
      padding-right: 30px;
      justify-content: space-between;
    }

    &__item {
      width: calc(50% - 30px);
      margin: 0;
      margin-bottom: 58px;
    }
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    &__header {
      margin-top: 15px;
      margin-bottom: 30px;
      margin-left: 20px;
      font-size: 36px;
    }

    &__list {
      padding-left: 0;
      padding-right: 0;
    }

    &__item {
      width: 100%;
      margin-bottom: 0;
    }
  }
}
