.contacts {
  position: relative;

  &__box-wrapper {
    position: absolute;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 40px 100px;
  }

  &__box {
    width: 570px;
    background-color: #ffffff;
    padding: 45px 70px 40px;
    display: flex;

    h2 {
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      font-family: "Oswald", "Arial", sans-serif;
      text-transform: uppercase;
      margin-right: 100px;
    }

    p {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__map {
    width: 100%;
    height: 400px;
    overflow: hidden;

    a {
      display: none;
    }

    &--nojs {
      overflow: hidden;

      a {
        display: block;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 400px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    &__box-wrapper {
      position: static;
      padding: 0;
    }

    &__box {
      width: 100%;
      position: static;

      p {
        margin-left: auto;
        text-align: right;
      }
    }
  }
}

