.main-menu {
  &__toggle {
    display: none;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding-left: 35px;

    a {
      text-decoration: none;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      text-transform: uppercase;
    }

    &--active a::after {
      position: relative;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $main-color;
      top: 5px;
    }
  }

  @media (min-width: $tablet-width) {
    &--index-desktop {
      .main-menu__item {
        a {
          color: #ffffff;
        }

        &--active a::after {
          background-color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .main-menu {
    &__item {
      padding-left: 35px;

      a {
        font-size: 18px;
        line-height: 24px;
        color: #000000;
      }

      &--active a::after {
        background-color: $main-color;
        top: 5px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .main-menu {
  &__toggle {
    display: block;
    position: absolute;
  }

  &__list {
    list-style: none;
    flex-direction: column;
  }

  &__item {
    padding-left: 35px;

    a {
      text-decoration: none;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
      text-transform: uppercase;
    }

    &--active a::after {
      position: relative;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $main-color;
      top: 5px;
    }
  }

}

}

