.page-header {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  min-height: 120px;
  margin: 0 auto 0;
  padding-top: 35px;
  padding-right: 40px;
  padding-left: 40px;

  &__logo {
    img {
      width: 200px;
      height: auto;
    }
  }

  &__menu {
    max-width: 50%;
    margin-top: 35px;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-right: 30px;
    padding-left: 30px;

    &__logo {
      img {
        width: 175px;
        height: auto;
      }
    }

    &__menu {
      max-width: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    display: block;
    padding: 0;
    min-height: auto;

    &__logo {
      display: block;
      margin: 0;
      padding: 0;
      min-height: 65px;
      padding-left: 20px;
      padding-top: 12px;

      img {
        width: 190px;
        height: auto;
      }
    }

    &__menu {
      margin-top: -65px;
    }
  }
}
