.page-header {
  height: 120px;
  max-width: 1300px;
  margin: 0 auto 0;

  display: flex;
  justify-content: space-between;

  &__menu {
    margin-top: 20px;
    max-width: 50%;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-left: 30px;
    padding-right: 30px;

    &__logo {
      width: 175px;
      height: auto;
    }

    &__menu {
      margin-top: 15px;
      max-width: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding: 0;
    flex-direction: column;

    &__logo {
      padding-left: 20px;
    }
  }
}
