.page-header {
  max-width: 1440px;
  margin: 0 auto 45px;
  background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, white 50%, #64a83b 50%);
  background-position: calc(50% + 360px) 0, 50% 50%;
  background-size: 720px 696px, 100% 100%;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-size: 720px 696px;
  }

  &__inner {
    max-width: 1300px;
    margin: 0 auto 0;
    padding: 55px 40px 0;
    min-height: 696px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__menu {
    margin-top: 20px;
    max-width: 50%;
  }

  &__training {
    margin-left: 80px;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    background-image: none;

    &__logo {
      width: 175px;
      height: auto;
    }

    &__inner {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__menu {
      margin-top: 15px;
      max-width: none;
    }

    &__head {
      margin-bottom: 50px;
    }

    &__training {
      margin-left: 90px;
      margin-bottom: 85px;
    }
  }
}
