.page-footer {
  background-color: $color-grey;

  &__links {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    padding: 50px 40px 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-left: 0;
    width: 200px;
  }

  &__social {
    padding-right: 60px;
  }

  &__copyright {
    width: 200px;
    margin-right: -8px;
  }

  &__copyright-link {
    float: right;
    text-decoration: none;
    color: $color-footer;

    display: flex;
    align-items: center;

    span {
      margin-right: 15px;
    }
  }
}


@media (max-width: $tablet-width) {
  .page-footer {
    &__links {
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    &__links {
      margin: 0;
      flex-wrap: wrap;
      padding: 0;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 25px;
    }

    &__logo {
      flex-grow: 1;
      width: 100%;
      text-align: center;
      padding-bottom: 25px;
      border-bottom: 1px solid #d9d9d9;
    }

    &__social {
      flex-grow: 1;
      width: 100%;
      padding-bottom: 12px;
      border-bottom: 1px solid #d9d9d9;
    }

    &__copyright {
      flex-grow: 1;
      width: 100%;
      padding-bottom: 20px;
    }

    &__copyright-link {
      width: 100%;
      justify-content: space-between;
    }
  }
}
