.show-all {
  margin-top: 80px;
  border: 1px solid #e7e7e7;
  padding: 38px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    position: absolute;
    background-image: url("../img/icon-plus.svg");
  }

  &__header {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 125px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    text-align: center;
    line-height: 20px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $color-grey;
    color: #444444;

    &:hover {
      background-color: darken($color-grey, 10);
      color: #444444;
    }

    &:active {
      color: #ffffff;
    }
  }
}

@media (max-width: $tablet-width) {
  .show-all {
    &__header {
      max-width: 140px;
    }

    &__text {
      max-width: 170px;
    }
  }
}

@media (max-width: $mobile-width) {
  .show-all {

    margin-top: 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    border-left: none;
    border-right: none;
    padding: 0;
    position: relative;

    &::before {
      width: 30px;
      height: 30px;
      top: 25px;
    }

    &__header {
      font-size: 16px;
      line-height: 20px;
      margin: 80px auto 0;
      max-width: none;
    }

    &__text {
      font-size: 12px;
      line-height: 20px;
      margin: 5px auto 20px;
      max-width: none;
    }

    &__button {
      width: calc(100% - 40px);
      margin: 0 20px 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: $color-grey;
      color: #444444;
    }
  }
}
