.social {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    margin: 0 15px;

    &:hover {
      fill: $main-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    justify-content: center;

    &__item {
      transform: scale(0.8);
      margin: 0 17px;
    }
  }
}
