.training-promo {

  position: relative;
  z-index: -1;
  max-width: 1440px;
  margin: -120px auto 0;
  padding: 180px 30px 50px 120px;
  min-height: 740px;


  background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, white 50%, #64a83b 50%);
  background-position: calc(50% + 360px) 0, 50% 50%;
  background-size: 720px 696px, 100% 100%;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-size: 720px 696px;
  }

  &__inner {
    max-width: 1300px;
    margin: 0 auto 0;
  }

  &__header {
    position: relative;
    z-index: 1;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    max-width: 450px;
    margin-bottom: 45px;
  }

  &__text {
    position: relative;
    z-index: 1;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    max-width: 450px;
    margin-bottom: 50px;
  }

  &__image {
    position: absolute;
    top: 140px;
    left: 490px;
  }

  &__button {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: $tablet-width) {
  .training-promo {
    background-image: none;
    padding-top: 170px;
    min-height: 950px;

    &__header {
      margin-top: 0;
      margin-bottom: 40px;
    }

    &__image {
      top: 370px;
      left: 30px;
    }
  }
}
