.training-promo {
  position: relative;
  z-index: -1;
  max-width: 1440px;
  min-height: 695px;
  margin: -120px auto 40px;
  padding: 180px 30px 50px 120px;
  background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, white 50%, #64a83b 50%);
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% + 360px) 0, 50% 50%;
  background-size: 720px 696px, 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }

  &__inner {
    max-width: 1300px;
    margin: 0 auto 0;
  }

  &__header {
    position: relative;
    z-index: 1;
    max-width: 450px;
    margin-bottom: 45px;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    font-family: "Oswald", "Arial", sans-serif;
  }

  &__text {
    position: relative;
    z-index: 1;
    max-width: 450px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
  }

  &__image {
    position: absolute;
    top: 140px;
    left: 490px;
  }

  &__button {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: $tablet-width) {
  .training-promo {
    min-height: 930px;
    padding-top: 170px;
    background-image: none;

    &__header {
      margin-top: 0;
      margin-bottom: 40px;
    }

    &__image {
      top: 370px;
      left: 30px;
    }
  }
}

@media (max-width: $mobile-width) {
  .training-promo {
    position: relative;
    margin: 0;
    padding: 25px 20px 0;
    min-height: auto;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 305px;
      background-color: #63a73a;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-position: 50% 50%;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-mobile@2x.jpg");
      }
    }

    &__header {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      width: 100%;
      max-width: none;
    }

    &__text {
      max-width: none;
      width: 100%;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #ffffff;
    }

    &__image {
      position: static;
      text-align: center;
    }

    &__button {
      width: 100%;
    }
  }
}
