@import "normalize.scss";

@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;

  font-display: swap;
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Oswald Medium";
  font-style: normal;

  font-display: swap;
  src: local("Oswald Medium"),
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

$mobile-width: 767px;
$tablet-width: 1299px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$main-color: #68b738;
$main-color-active: #5eaa2f;
$color-grey: #f2f2f2;
$color-footer: #444444;


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: $mobile-width) {
  font-size: 14px;
  line-height: 18px;
  min-width: 320px;
}

@import "blocks/visually-hidden.scss";
@import "blocks/page-header.scss";
@import "blocks/main-menu.scss";
@import "blocks/training-promo.scss";
@import "blocks/button.scss";
@import "blocks/categories.scss";
@import "blocks/advantages.scss";
@import "blocks/before-after.scss";
@import "blocks/example.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
